.oc-container{
    width: 100%;
    font-family: 腾祥嘉丽细圆简;!important;
}





.choose-add-h3{
    padding-top: 5%;
    padding-left: 10%;
    font-family: 腾祥嘉丽细圆简;
    font-size: 25px;

}
.choose-add-check-product{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;

}

.choose-add{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    padding-left: 15%;
    font-family: 腾祥嘉丽细圆简;!important;
    line-height: 50px;
}











